@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <title>Page Title</title>
    <meta http-equiv="refresh" content="5">
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/numberHuB").build();

        connection.on("ReceiveUpdatedData", function (data) {
            // Zde aktualizujte obsah na stránce s novými daty
            document.getElementById("dataContainer").innerText = data;
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function refreshData() {
            // Volání metody UpdateData na serveru přes SignalR
            connection.invoke("UpdateData").catch(function (err) {
                return console.error(err.toString());
            });
        }
    </script>
</div>
