@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship Game</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ADD8E6;
            padding-top: 50px;
            text-align: center;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        form {
            margin-bottom: 20px;
            background-color: #58B6DE;
            padding: 20px;
            font-weight: bold;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        select,
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }

        .explanation {
            padding-top: 20px;
            text-align: center; /* Zarovná vysvětlivky na střed */
            margin-top: 20px; /* Zvýší odstup od formuláře */
            font-weight: bold;
            width: 300px;
            margin: 0 auto; /* Zarovná vodorovně na střed */
        }
    </style>
</head>
<body>
    <h1>Battleship Game</h1>
    <form id="player-form" method="post">
        <label for="name1">Zadej jméno pro hráče 1:</label>
        <input type="text" id="name1" name="name1">

        <label for="name2">Zadej jméno pro hráče 2:</label>
        <input type="text" id="name2" name="name2">
        <button type="submit">Start Game</button>
    </form>
    <p style="font-weight:bold ">@Model.Chyba</p>
    <div class="explanation">
        <h2><strong>Vysvětlivky:</strong></h2>
        <ul style="list-style-type: none; padding-left: 0;">
            <!-- Odstanění výchozího odrážkového seznamu a odsazení -->
            <li>Obrázek 🚢 značí loď.</li>
            <li>Obrázek 💥 značí zásah lodě.</li>
            <li>Obrázek ❌ značí minutí lodě.</li>
            <li>Obrázek 🌊 značí volná místa.</li>
        </ul>
    </div>
</body>
</html>
